body {
    margin: 0;
    position: relative;
}

body::before {
    height: 100dvh;
    content: "";
    position: fixed; /* Ubah absolute menjadi fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/AnimeBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px); /* Atur tingkat blur sesuai kebutuhan */
    z-index: -1; /* Menempatkan elemen pseudo di belakang konten utama */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Gunakan min-height alih-alih height */
    position: relative;
    z-index: 1; /* Memastikan konten utama berada di atas elemen pseudo */
}
